
<div class="admin-container">
  <h1>Recipes</h1>


<!--       <div class="toggle">
        <input type="checkbox">
        <span class="button"></span>
        <span class="label">😃</span>
      </div>
 -->

      <div class="toggle">
        <div class="button">
          <div class="inner"></div>
        </div>
      </div>

      <div class="toggle">
        <div class="button-two">
          <!-- <div class="inner"></div> -->
        </div>
      </div>

</div>
