body {
  background-color: #f2f6f98f;
}

.page-container {
  display: flex;
}

ul {
  padding: 0px;
  margin: 0px;
  li {
    list-style: none;
    font-family: $headers-font;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}
