<div class="admin-nav">
  <ul>
    <li class="nav-item">
      <div>
        <i class="fas fa-tachometer-alt"></i>
        Dashboard
      </div>
    </li>

    <li class="nav-item">
      <div>
        <i class="fas fa-inbox"></i>
        Inbox
      </div>
      <%# if @unread_contacts.present? %>
        <div class="notification">
          <%#= @unread_contacts.size %>
          2
        </div>
      <%# end %>
    </li>

    <li class="nav-item">
      <div>
        Ingredients
      </div>

    </li>

    <li class="nav-item">
      <div>
        Recipes
      </div>
    </li>

  </ul>
</div>
