
<div class="admin-container">
  <h1>Ingredients</h1>
  <div class="content">
    <table>
      <thead>
        <tr>
          <th scope="col">Thumb</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>

        </tr>
      </thead>
      <tbody>
        <tr>

          <td></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
