.button-submit, .btn-cancel {
  border: 1px solid transparent;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2), 5px 10px 35px rgba(0, 0, 0, 0.1), 8px 10px 25px rgba(0, 0, 0, 0.1), inset -1px -1px 9px rgba(237, 237, 237, 0), inset -1px -1px 15px rgba(255, 255, 255, 0.6), inset 1px 1px 8px white, -5px -5px 15px white;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-submit:hover, .btn-cancel:hover {
  border: 1px solid #c8c8ca;
  box-shadow:
    0 4px 3px 1px #FCFCFC,
    0 6px 8px #eaebed,
    0 -3px 3px #e2e5eb,
    0 -6px 4px #FEFEFE,
    inset 0 0 3px 0 #CECFD1;
}
